.main-title-of-block {
	padding: 20px 0;
	background: url("../img/title-bg.png") no-repeat center;
	background-size: cover;
}
.main-title-of-block-2 {
	padding: 35px 0;
	background: url("../img/title-bg2.png") no-repeat center;
	background-size: cover;
}